body.dark .accordion-item .accordion-header.active {
  background-color: #eb5c09; /* Adjust the background color as needed */
}

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-attachment: fixed;
}

.navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transform: translateY(0);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}


.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #2d3748;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #ed8936;
  border-radius: 4px;
}
@media (max-width: 640px) {
  #search-modal .relative {
    font-size: 14px;
  }
  #search-modal h2 {
    font-size: 1.5rem;
  }
}

.main-content {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}

body.dark .bg-gray-50 {
  background-color: #545556;
}

.hover\:text-orange-500:hover {
  color: #ff4500;
}

body {
  transition:
    background-color 0.3s,
    color 0.3s;
}
body.dark {
  background-color: #0a0a0a;
  color: #f5f5f5;
}
body.dark .bg-white {
  background-color: #1a1a1a;
}
body.dark .bg-gray-100 {
  background-color: #212121;
}
body.dark .bg-gray-900 {
  background-color: #0a0a0a;
  color: white;
}
body.dark .text-gray-700 {
  color: rgb(8, 178, 221);
}
@media (max-width: 767px) {
  .mobile-menu-button {
    width: 48px;
    height: 48px;
    font-size: 24px;
    padding: 12px;
    padding: 0.75rem;
    /* 12px */
  }
  .mobile-menu-button .fas.fa-bars {
    font-size: 1.5rem;
    /* 24px */
  }

  .progress-bar-container {
    display: none;
  }
}
body.dark .bg-orange-500 {
  background-color: #ff8c00;
}
body.dark .hover\:bg-orange-600:hover {
  background-color: #ffa500;
}
body.dark .text-gray-800 {
  color: #f5f5f5;
}
body.dark .text-gray-600 {
  color: #d4d4d4;
}
body.dark .desktop-nav-link::after {
  background-color: #ff8c00;
}
body.dark .bubble {
  background-color: #ff8c00;
  color: #0a0a0a;
}
body.dark ::-webkit-scrollbar-thumb {
  background-color: #ff8c00;
}
body.dark ::-webkit-scrollbar-track {
  background-color: #1a1a1a;
}
body.dark #search-result-list li:hover {
  background-color: #1a1a1a;
}
.btn-plus {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #ffa500;
  color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
  z-index: 100;
}
.btn-plus.dark {
  background-color: #0066b2;
}
.bubble-container {
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 99;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}
.bubble-container.show {
  opacity: 1;
  pointer-events: auto;
}
.bubble {
  width: 50px;
  height: 50px;
  background-color: #0066b2;
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.bubble.bg-blue-500 {
  background-color: #0066b2;
}
.bubble.bg-blue-500:hover {
  background-color: #0052a3;
}
.bubble.bg-green-500 {
  background-color: #4caf50;
}
.bubble.bg-green-500:hover {
  background-color: #3d8b40;
}
.bubble:hover .tooltip {
  opacity: 1;
  visibility: visible;
}
.tooltip {
  position: absolute;
  top: 50%;
  left: calc(100% + 10px);
  transform: translateY(-50%);
  background-color: #333;
  color: #fff;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 14px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
}
@media (max-width: 767px) {
  .btn-plus {
    width: 40px;
    height: 40px;
    font-size: 20px;
  }
  .bubble {
    width: 40px;
    height: 40px;
  }
}

.navbar {
  transition: transform 0.3s ease-in-out;
  /* Add transition for smooth animation */
  transform: translateY(-100%);
  /* Start with the navbar hidden above the viewport */
}
.navbar.show {
  transform: translateY(0);
  /* When the "show" class is added, slide down the navbar */
}

.mobile-menu {
  position: absolute;
  top: 64px;
  left: 0;
  right: 0;
  background-color: white;
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  transform-origin: top;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}
.mobile-menu.open {
  max-height: 500px;
  /* Adjust this value as needed */
}
.mobile-menu.closed {
  max-height: 0;
}
@keyframes openMenu {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 500px;
    /* Adjust this value as needed */
  }
}
@keyframes closeMenu {
  0% {
    max-height: 500px;
    /* Adjust this value as needed */
  }
  100% {
    max-height: 0;
  }
}
.desktop-nav-link {
  position: relative;
  padding-bottom: 2px;
  overflow: hidden;
}
.desktop-nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fb7185;
  transition: width 0.3s ease-in-out;
}
.desktop-nav-link:hover::after {
  width: 100%;
}

.image-container {
  position: relative;
  overflow: hidden;
  transition:
    transform 0.3s,
    box-shadow 0.3s;
}
.image-container:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.image-container img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s;
}
.image-container:hover img {
  transform: scale(1.1);
}
body.modal-open {
  filter: blur(5px);
  /* Adjust the blur value as needed */
  pointer-events: none;
}
.modal.show {
  display: flex;
  pointer-events: auto;
}

::-webkit-scrollbar {
  width: 12px;
  /* Width of the scrollbar */
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  /* Color of the track (the area behind the scrollbar) */
}
::-webkit-scrollbar-thumb {
  background-color: #ff7300;
  /* Color of the scrollbar thumb */
  border-radius: 6px;
  /* Roundness of the scrollbar thumb */
}
::-webkit-scrollbar-thumb:hover {
  background-color: #ff7300;
  /* Color of the scrollbar thumb on hover */
}
body.dark ::-webkit-scrollbar-thumb {
  background-color: #ff8c00;
}
body.dark ::-webkit-scrollbar-track {
  background-color: #1a1a1a;
}

/* Base styles */
@media (min-width: 857px) {
  .escape-span {
    display: inline;
  }
}

@media(max-width: 709px){
  .desktop-nav-link span{
    display: none;
  }
}


/* End of Reusable CSS */
